<div id="vmVideo">
	<iframe id="vmPlayer" src="http://player.vimeo.com/video/91460011?api=1&player_id=vmPlayer&controls=0&title=0&byline=0&portrait=0&autoplay=1&loop=1&color=" width="1280" height="720" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="width: 1163px; height: 653px;"></iframe>
</div>

<div class="whity"></div>