<style>
  #headshot {
    border-style: solid;
    width: 100%;
  }
  .home_description {
    margin: 10%;
  }
  #hello {
    position: relative;
    font-family: 'Kreon', serif;
    text-align: center;
    font-size: 200%;
  }
  .homez {
    overflow: hidden;
  }
</style>
<div class='homez'>
<%= image_tag('ir.jpg', :id => 'headshot') %>
<div class="home_description">
 <div id="hello">Hello World!</div>
</div>
</div>
