<div class="container">
	
	<%= image_tag('blue_bg.jpg', id: 'bg') %>
	<div class="draft">
		<div id="boo1"></div>
		<div id="boo2"></div>
		<div id="boo3"></div>

		<div class="boo4"></div>
		
	</div>

	<div id="wooden_floor">
		<div id="smiley_hills"></div>
		<div id="question_boxes"></div>
		<div id="question_boxes2"></div>
		<div id="blocks"></div>
		<div id="clouds"></div>
		<div id="cloud"></div>
	</div>
	<div class="words">
		<p id="s1">Welcome to: Mario's World!</p>
	</div>
	<div id="dialog">

	</div>
</div>
