<style>
  #headshot {
    border-style: solid;
    width: 100%;
  }
  .home_description {
    margin: 10%;
  }
  #interlude {
    position: relative;
  }
  body {
    overflow: hidden;
  }
</style>
<%= image_tag('ir.jpg', :id => 'headshot') %>
<div class="home_description">
 <div id="interlude">Hello World!</div>
</div>
