<h1>Pages#contact_me</h1>
<p>Find me in app/views/pages/contact_me.html.erb</p>

<%= form_for @contact_request do |x| %>
	Name: <%= text_field :name %><br />
	Email: <%= text_field :email %><br />
<% end %>