<div class='resume'>
	<div id="interlude">Resume</div>
	
</div>

<script>
	$(document).ready(function(){
		t = new TimelineLite();
		t2 = new TimelineLite();
		t3 = new TimelineLite();
		$('#interlude').mouseenter(function(){
			t.to($(this), 0.7, {css:{color:'#0a00db'}});
			t.restart();
		});
		$('#interlude').mouseleave(function(){
			t.reverse();
		});
	});
</script>