<div class='resume'>
<h1>Pages#resume</h1>
<div class='chart'>
</div>
<p>what i've been doing: </p>
<div id="chart-1" style="height: 300px;"></div>
    <script>
      new Chartkick.LineChart("chart-1", {"2013-02-10 00:00:00 -0800": 11, "2013-02-11 00:00:00 -0800": 6});
    </script>
<script>

</script>
</div>