<div class='resume'>
	<div id="interlude">Resume::Ilia Reingold</div>
	<div id="notes">
		<h3 id="cg">Career Goals:</h3>
		<div class="inner_details">
			My goal is to begin a career as a junior web developer. I want to design and develop amazing and beautiful web apps.
		</div>
		<div class="inner_details">
			I want to work in a learning orientated environment, and blossom from a junior level developer.
		</div>
	</div>
	<div id="experience">
		<h3 id='pwork'>Previous Work Experience:</h3>
		<div class="work_details">
			<div class='upper_work_details'>
				<%= image_tag('stadia.png', id: 'stadia') %> 
				<h6 id='stadia_role'>Accounting/Operations Assistant @ Stadia Industries</h6>
			</div><br>
			<div class='mid_work_details'>
				<ul>
					<li>Aided CFO with time consuming routine accounting tasks</li>
					<li class='indented'>Learned the fundamentals of practical accounting</li>
					<li>Helped Director of Operations manage daily work flow, closing customers, issuing POs, creating high quality reports for clients</li>
					<li class='indented'>Observed the art of management/leadership running a team of 20 people</li>
					<li class='indented'>Watched crisp professionalism dealing with difficult clients</li>
				</ul>
				<div id="work_details_nexttier">
					<%= image_tag('humber.jpg', id: 'humber1') %> 
					<h6 id='humber_role'>English Tutor @ Humber College</h6>
				</div>
			</div>
		</div>
	</div>

</div>

