<div class="skills">
My Knowledge:<br>
<div id="chart-2" style="height: 300px;"></div>
    <script>
      new Chartkick.PieChart("chart-2", [["HTML",20],["CSS",20],["JavaScript",30],["Ruby/Rails",30]], {"colors": ["#007148", "#60A859", "#9BDA6A", "#C7F774"]});
    </script>
</div>
<div class="wakingtime">
How I spend my waking time (hours):<br>
<div id="chart-1" style="height: 300px;"></div>
    <script>
      new Chartkick.PieChart("chart-1", [["Coding",7],["Eating",2],["Exercise",1],["Commuting",1.5],["Leisure",4]], {"colors": ["#BF495E", "#41A693", "#F2EC9B", "#D9CF48", "#D9583B"]});
    </script>
</div>