<div class="skills">
My Path to Mastery (towards 100%):<br>
<div id="chart-2" style="height: 300px;"></div>
<div id="chart-3" style="height: 300px;"></div>
<div id="chart-4" style="height: 300px;"></div>
    <script>
      new Chartkick.PieChart("chart-2", [["HTML",15],["Remaining",85]], {"colors": ["#df1231", "#45050e"]});
       new Chartkick.PieChart("chart-3", [["CSS",18],["Remaining",82]], {"colors": ["#df1231", "#45050e"]});
       new Chartkick.PieChart("chart-4", [["JavaScript",25],["Remaining",75]], {"colors": ["#df1231", "#45050e"]});
    </script>
</div>
<div class="wakingtime">
How I spend my waking time (hours):<br>
<div id="chart-1" style="height: 300px;"></div>
    <script>
      new Chartkick.PieChart("chart-1", [["Coding",7],["Eating",2.5],["Commuting",2],["Leisure",4]]);
    </script>
</div>