<style>
body {
	height:150%;
}
</style>
<div class="mywork">
	<div id="interlude4">My Work</div>

	<div class="project_section">
		
		<div id="mario_world_project">
			<%= link_to projects_show_mario_path do %>
			<div id="mario_world_project_topleft"></div><% end %>
			<div class="topright">
				<h5>Details</h5>
				<p class="project_description">
					<ul>
						<li>Built in March 2014</li>
						<li>3 days of effort</li>
						<li>Heavy use of jQuery & GSAP</li>
					</ul>
				</p>
			</div>
			<div class="project_bottom">
				<h5>Mario World</h5>
				<p class="project_description">
					This particular project was an adventure in the art of JavaScript animations. It was a lot of fun making things fly around the screen and animate on click. I realized during this exercise that front end appeals to me more than backend. It's just so much fun!
				</p>
			</div>
		</div>
		
		<div id="ttt_project">
			<%= link_to projects_show_ttt_path do %>
			<div id="ttt_project_top_left"></div><% end %>
			<div class="topright">
				<h5>Details</h5>
				<p class="project_description">
					<ul>
						<li>Built in early March 2014</li>
						<li>2 days of effort</li>
						<li>Vanilla JavaScript + some jQuery</li>
					</ul>
				</p>
			</div>
			<div class="project_bottom">
				<h5>Tic Tac Toe</h5>
				<p class="project_description">
					This was a class project as a follow up to learning the basics of JavaScript. The biggest challenge was figuring out how to program the logic to recognize a winner. I basically sat at my screen and stared at it for and hour and a half till I made it bend to my will.
				</p>
			</div>

			<!-- <div class id="crowdfunder_project">test</div> -->
			<!-- <div class id="final_project">test</div> -->
		</div>
	</div>



