<div class="mywork">
	<div id="interlude4">My Work</div>

	<div class="project_section">
		<%= link_to projects_show_mario_path do %>
		<div class id="mario_world_project">test</div><% end %>
		<%= link_to projects_show_ttt_path do %>
		<div class id="ttt_project">test</div><% end %>
		<div class id="crowdfunder_project">test</div>
		<!-- <div class id="final_project">test</div> -->
	</div>

	

</div>
<script>
	$(document).ready(function(){
		t = new TimelineLite();
		$('#interlude4').mouseenter(function(){
			t.to($(this), 0.7, {scale:1.2});
			t.restart();
		});
		$('#interlude4').mouseleave(function(){
			t.reverse();
		});
	});
</script>


