html, body {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	background-image: url("bg.png") no-repeat center center fixed;
}

#bg {
	z-index: -2;
	position: fixed;
	top:0;
	left:0;
	min-height: 100%;
	min-width: 100%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.draft {
	width:100%;
	height:100%;
	z-index: 2;
	/*overflow: hidden;*/
}

#boo1 {
	height:200px;
	width:200px;
	position: absolute;
	background: url('booy.png') no-repeat center;
}

#boo2 {	
	top:100px;
	height:200px;
	width:200px;
	position: relative;
	left:450px;
	background:
	url('booy.png') no-repeat center;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";

}

#boo3 {
	height:200px;
	width:200px;
	position:relative;
	background:
	url('booy.png') no-repeat center;
}

#boo4 {
	height:200px;
	width:200px;
	top:400px;
	position:absolute;
	background:
	url('booy.png') no-repeat center;
}
.words {
	height: 10px;
	width: 350px;
	right: 500px;
	top: 20px;
	position:absolute;
	text-align: center;
	z-index: -1;
	font-family: 'Gochi Hand', cursive;
	font-size: 400%;

}

#s1, #s2, #s3 {
	position: relative;
}

/*#s2, #s3 {
	position: relative;
	}*/

	.footer {
		position:absolute;
		width:100%;
		bottom:0;
		height:50px;
		background-color: #54db59;
		border-radius: 10%;
	}