html, body {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	/*background-image: url("bg.png") no-repeat center center fixed;*/
}

#wooden_floor {
	z-index: 2;
	height:61px;
	width:100%;
	bottom:0;
	position: absolute;
	background: url('bg_woodfloor.png') center;
}

#cloud {
	z-index: 1;
	height:93px;
	width:128px;
	/*display:block;*/
	bottom:1220px;
	left:440px;
	position: relative;
	background: url('cloud.gif') no-repeat;
}

#clouds {
	z-index: 1;
	height:94px;
	width:194px;
	display:block;
	bottom:1020px;
	left:320px;
	position: relative;
	background: url('clouds.gif') no-repeat;
}

#smiley_hills {
	height:258px;
	width:381px;
	bottom:258px;
	left:0px;
	position: relative;
	background: url('smiley_hills.gif') no-repeat;
}

#question_boxes {
	height:57px;
	width:114px;
	bottom:500px;
	left:500px;
	position: relative;
	background: url('questionboxes.png');
}
#question_boxes2 {
	height:57px;
	width:114px;
	bottom:700px;
	left:680px;
	position: relative;
	background: url('questionboxes.png');
}
#blocks {
	z-index: 1;
	height:350px;
	width:271px;
	bottom:675px;
	float:right;
	position: relative;
	background: url('blocks.gif') no-repeat;
}
#bg {
	z-index: -2;
	position: fixed;
	top:0;
	left:0;
	min-height: 100%;
	min-width: 100%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.draft {
	width:100%;
	height:100%;
	z-index: 2;
	/*overflow: hidden;*/
}

#boo1 {
	height:200px;
	width:200px;
	position: absolute;
	background: url('boo.png') no-repeat center;
}

#boo2 {	
	top:100px;
	height:200px;
	width:200px;
	position: relative;
	left:450px;
	background:
	url('boo.png') no-repeat center;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";

}

#boo3 {
	height:200px;
	width:200px;
	position:relative;
	background:
	url('boo.png') no-repeat center;
}

.boo4 {
	height:83px;
	width:83px;
	/*top:250px;*/
	position:absolute;
	background:
	url('new_boo_open.png') no-repeat center;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
/*.boo4_invert {
	height:83px;
	width:83px;
	top:250px;
	position:absolute;
	background:
	url('boo.png') no-repeat center;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}*/
.words {
	height: 10px;
	width: 350px;
	right: 500px;
	top: 130px;
	position:absolute;
	text-align: center;
	z-index: -1;
	font-family: 'Gochi Hand', cursive;
	font-size: 400%;

}

#s1, #s2, #s3 {
	position: relative;
}

