html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/*Projects styling*/

.project_section {
	padding: 10%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 2%;
	border:1px solid;
}

#mario_world_project {
	border-radius: 2%;
	border:1px solid;
	margin-right: 60%;
	height:400px;
	width: 650px;
}

#ttt_project {
	border-radius: 2%;
	border:1px solid;
	margin-top: 10%;
	margin-right: 20%;
	height:400px;
	width: 650px;
}
#crowdfunder_project {
	border-radius: 2%;
	margin-top: 10%;
	border:1px solid;
	margin-right: 20%;
	height:400px;
	width: 650px;
}

/*end of projects styling*/

.container1 {
	float:right;
	width:80%;
	height:100%;
}

.sidebar {
	position: fixed;
	z-index: 1;
	float:left;
	width:20%;
	height:100%;
	background-color:#BAD3F0;
	border: solid 1px;
	border-color: #7797BA;
	text-align: center;
	font-size: 22px;
	overflow: visible;
	font-family: 'Audiowide', cursive;
}
a:-webkit-any-link {
	text-decoration: none;
	color:#3844df;
	/*cursor: url('gloveq.png'), auto;*/
}
a {
	text-decoration: none;
}
a:hover {
	color:#4d00df;
}


.mastery table {
	margin-left: auto;
	margin-right: auto;
}

#interlude, #interlude2, #interlude3, #interlude4 {
	z-index: 10;
	text-align:center;
	font-size: 40px;
	font-family: 'Audiowide', cursive;
	display:inherit;
}

#home_txt {
	z-index: 1;
	position:relative;
}
#resume_txt {
	z-index: 1;
	position:relative;
}
#mywork_txt {
	z-index: 1;
	position:relative;
}
#skills_txt {
	z-index: 1;
	position:relative;
	height:50px;
}

#wooden_floor {
	z-index: 2;
	height:61px;
	width:100%;
	bottom:0;
	position: absolute;
	background: url('bg_woodfloor.png') center;
}

#bg_hills {
	z-index: -1;
	height:204px;
	width:204px;
	left:359px;
	position: relative;
	background: url('bg_hills.gif') no-repeat;
}

#cloud {
	z-index: 1;
	height:93px;
	width:128px;
	bottom:1220px;
	left:440px;
	position: relative;
	background: url('cloud.gif') no-repeat;
}

#clouds {
	z-index: 1;
	height:94px;
	width:194px;
	display:block;
	bottom:1220px;
	left:280px;
	position: relative;
	background: url('clouds.gif') no-repeat;
}

#smiley_hills {
	z-index: 0;
	height:258px;
	width:381px;
	bottom:258px;
	left:0px;
	position: relative;
	background: url('smiley_hills.gif') no-repeat;
}

#question_boxes {
	z-index: 1;
	height:57px;
	width:57px;
	bottom:530px;
	left:500px;
	position: relative;
	background: url('questionboxes.png');
}
#question_boxes2 {
	z-index: 1;
	height:80px;
	width:114px;
	bottom:700px;
	left:680px;
	position: relative;
	background: url('questionboxes.png')no-repeat;
}
#blocks {
	z-index: 1;
	height:350px;
	width:271px;
	bottom:695px;
	float:right;
	position: relative;
	background: url('blocks.gif') no-repeat;
}
#bg {
	z-index: -2;
	position: fixed;
	top:0;
	left:0;
	min-height: 100%;
	min-width: 100%;
}

.container {
	overflow:hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.draft {
	width:100%;
	height:100%;
	z-index: 2;
	/*overflow: hidden;*/
}

#boo1 {
	z-index: 0;
	height:200px;
	width:200px;
	position: absolute;
	background: url('boo.png') no-repeat center;
}

#boo2 {	
	top:100px;
	height:200px;
	width:200px;
	position: relative;
	left:450px;
	background:
	url('boo.png') no-repeat center;
}

.flipped {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#boo3 {
	height:200px;
	width:200px;
	position:relative;
	background:
	url('boo.png') no-repeat center;
}

.boo4 {
	z-index: 0;
	height:49px;
	width:54px;
	position:absolute;
	background:
	url('new_boo_open.png') no-repeat center;
}

.boo4_closed {
	height:49px;
	width:54px;
	position:absolute;
	background:
	url('new_boo_closed.png') no-repeat center;
}

.words {
	width: 350px;
	left: 45%;
	top: 30%;
	position:fixed;
	text-align: center;
	z-index: -1;
	font-family: 'Permanent Marker', cursive;
	font-size: 400%;
}

#s1, #s2, #s3 {
	position: relative;
}


