<div class="sidebar">
	<br>
	<div id="home_txt">Home</div><br>
	<div id="resume_txt">Resume</div><br>
	<div id="mywork_txt">My Work</div><br>
	<div id="skills_txt">Skills</div><br>
	<div id="contactme_txt">Contact Me</div>
</div>